<style>

    div.task {
        background-color: #448AFF;
        height: 62px;
        padding: 16px;
        font-size: 24px;
        margin-bottom: 15px;
        box-shadow: 3px 5px 14px rgba(0,0,0,.8);
        cursor: pointer;
        text-align: center
    }
    .dragging {
        opacity: 0.5;
    }

</style>

<div class="task" [class-name]="'task ' + (dragging ? 'dragging ' : '')"
     draggable="true"
     (drop)="ondrop($event)"
     (dragover)="ondragover($event)"
     (dragleave)="ondragleave($event)"
     (dragstart)="ondragstart($event)"
     (dragend)="ondragend($event)">
      {{ taskdata.text }}
</div>
<placeholder [hidden]="!isOver"></placeholder>



